<div class="modal fade" id="aboutModal2" tabindex="-1" aria-labelledby="aboutModalLabel2" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" id="aboutModal2">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aboutModalLabel">Editar usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
          <div class="container col-md-12">
            <div class="card">
                <div class="class-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Nombres:</label>
                            <input type="text" name="nombre" [(ngModel)]="usuario.nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Apellidos:</label>
                            <input type="text" name="apellido" [(ngModel)]="usuario.apellido" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="">Titulo:</label>
                          <input type="text" name="titulo" [(ngModel)]="usuario.titulo" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="">Descripcion:</label>
                          <input type="text" name="descripcion" [(ngModel)]="usuario.descripcion" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="">Foto de perfil:</label>
                          <input type="text" name="fotoperfil" [(ngModel)]="usuario.fotoperfil" class="form-control">
                        </div>
                        <br>
                        <button (click)="Actualizar(usuario)" class="btn btn-primary"  data-bs-dismiss="modal"><i class="fa fa-floppy-o"></i></button>
                    </form>
                </div>
            </div>
        </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning tooltips" data-bs-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
  </div>
